.idea
.phpstorm.meta.php
.phpunit.result.cache
.phpunit.cache
clover.xml
coverage.xml
_ide_helper.php
composer.lock
build
vendor
.DS_Store
.lock
node_modules
package-lock.json
yarn.lock
logs
.vscode
.php_cs.cache
.php-cs-fixer.cache